USE [master]
GO
/****** Object:  Database [db2024]    Script Date: 7/27/2024 6:37:44 AM ******/
CREATE DATABASE [db2024]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db2024', FILENAME = N'C:\Users\user\db2024.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db2024_log', FILENAME = N'C:\Users\user\db2024_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db2024].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db2024]
GO
/****** Object:  Table [dbo].[FK-ProductSupplier]    Script Date: 7/27/2024 6:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FK-ProductSupplier](
	[Prod_ID] [int] NOT NULL,
	[Supplier_ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_dets]    Script Date: 7/27/2024 6:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_dets](
	[Product_id] [int] IDENTITY(1,1) NOT NULL,
	[Product_Name] [nvarchar](50) NULL,
	[Product_price] [decimal](18, 0) NULL,
	[Product_origin] [nvarchar](50) NULL,
 CONSTRAINT [PK_Product_dets] PRIMARY KEY CLUSTERED 
(
	[Product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier_dets]    Script Date: 7/27/2024 6:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier_dets](
	[Supplier_id] [int] IDENTITY(100,1) NOT NULL,
	[Supplier_Name] [nvarchar](50) NULL,
	[Supplier_phoneNum] [nvarchar](50) NULL,
 CONSTRAINT [PK_Supplier_dets] PRIMARY KEY CLUSTERED 
(
	[Supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FK-ProductSupplier]  WITH CHECK ADD  CONSTRAINT [FK_FK-ProductSupplier_Product_dets] FOREIGN KEY([Prod_ID])
REFERENCES [dbo].[Product_dets] ([Product_id])
GO
ALTER TABLE [dbo].[FK-ProductSupplier] CHECK CONSTRAINT [FK_FK-ProductSupplier_Product_dets]
GO
ALTER TABLE [dbo].[FK-ProductSupplier]  WITH CHECK ADD  CONSTRAINT [FK_FK-ProductSupplier_Supplier_dets] FOREIGN KEY([Supplier_ID])
REFERENCES [dbo].[Supplier_dets] ([Supplier_id])
GO
ALTER TABLE [dbo].[FK-ProductSupplier] CHECK CONSTRAINT [FK_FK-ProductSupplier_Supplier_dets]
GO
USE [master]
GO
